BOT_TOKEN=123456:replace_me
TG_API_ID=123456
TG_API_HASH=replace_me

POSTGRES_DB=tg_bot
POSTGRES_USER=tg_bot
POSTGRES_PASSWORD=tg_bot_password

RETENTION_DAYS=30
DEFAULT_LIMIT=50
QR_TIMEOUT_SECONDS=180
